version: '3.8'

services:
  ros2:
    container_name: ros_dev
    network_mode: host
    stdin_open: true
    tty: true
    privileged: true
    build: .
    environment:
      - DISPLAY=${DISPLAY}
      - DB_URI=${MONGO_CONNECTION_STRING}
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./ros_ws:/ros_ws:rw
      - /dev/shm:/dev/shm:rw
    devices:
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-uvm:/dev/nvidia-uvm
      - /dev/dri:/dev/dri
      - /dev/video0:/dev/video0
      - /dev/bus/usb:/dev/bus/usb 
    command: bash